.read-more {
    text-decoration: none;
    color: #FF6C3E;
}

.card-body-height a:hover {
    color: #F79948
}

.date-stamp {
    display: inline-block;
    background-color: #174082;
    color: white;
    padding: 10px 20px;
    position: absolute;
    margin-top: -53px;
}

.videoes {
    padding: 50px 0;
}

.card-body-height {
    min-height: 170px;
    padding: 30px 40px;
    border: none;
    box-shadow: 5px 5px 40px gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.videoes .card {
    border: none;
}

.videoes.card-img-top {
    border-radius: 10px;
}

.custom-card-title {
    font-weight: bolder;
    margin: 10px 0 20px 0;
}