.myth-busters hr.line-2 {

    width: 80px;
    height: 4px;
    background-color: #B02A30;
    opacity: 100%;
    text-align: center;
    margin: auto;

}

.myth-busters hr.line {
    width: 80px;
    height: 4px;
    background-color: #B02A30;
    opacity: 100%
}
.myth-busters .accordion-button{background-color: #FDF4E0; color: #5E698B;border: 0px;border-radius: 5px;}
.myth-busters .accordion-button:focus{box-shadow: none; border: none;background-color: #ffffff;}
.myth-busters  .accordion-item{border:1px solid #FF5824;border-radius: 5px;}
/* .myth-busters .accordion-body{border: 1px solid #FF5824;} */
.myth-busters .accordion-item{ margin-bottom: 10px;}
.myth-busters .accordion-body{ color: #B17E77;}